<!DOCTYPE html>
<html>
  <head>
    <title>Criar Nova Senha</title>
    <meta charset="UTF-8" />

    <link rel="stylesheet" type="text/css" href="/css/styles.css" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container h-100">
      <div class="h-100 w-100 d-flex align-items-center justify-content-center">  
        <form
          method="POST"
          class="d-flex flex-direction-column form-recovery"
          action="<%= `${process.env.API_URL}users/senha-recuperada` %>"
          data-js="form-new-pass"
        >
          <h1 class="title">Criar Nova Senha</h1>

          <div class="content-alert">
            <% if (error)  { %>

              <div class="alert-danger">
                <%= error %>
              </div>

            <% } else if (success) { %>

              <div class="alert-success">
                <%= success %>
              </div>

            <% } %>
          </div>

          <label for="pass" class="mb">
            Nova Senha
          </label>
          <input
            type="password"
            name="pass"
            id="pass"
            class="input input-recovery mb"
            placeholder="Digite sua nova senha"
          />

          <div class="container-alert-text">
            <p class="d-none alert-text" data-js="alert-pass">
              Deve ter pelo menos 8 caracteres
            </p>
          </div>

          <label for="repeat-pass" class="mb">
            Repetir Senha
          </label>

          <input
            type="password"
            name="repeat-pass"
            id="repeat-pass"
            class="input input-recovery mb"
            placeholder="Digite sua nova senha novamente"
          />
          
          <div class="container-alert-text">
            <p class="d-none alert-text" data-js="alert-repeat-pass">
              As senhas não coincidem
            </p>
          </div>


          <input type="hidden" name="token" value="<%= token ? token : '' %>" />

          <button class="btn btn-confirm w-100 btn-recovery" type="submit">
            Confirmar
          </button>
        </form>
      </div>
    </div>

    <script src="/js/main.js"></script>
  </body>
</html>