<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>PagSeguro - Token</title>
  </head>
  <body>
    <button data-js="generate-token">Generate Token</button>

    <script src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
